body {
  background: #FCFAF2;
}

#title, #author, .sub-title, .sub-description {
  text-align: center;
}

.button-panel {
  text-align: center;
  margin: 20px;
}

#show-box {
  text-align: center;
}

.index-image {
  width: 200px;
  margin: auto;
}