body {
  background: #FCFAF2;
}

#title, #author, .sub-title, .sub-description {
  text-align: center;
}

.button-panel {
  text-align: center;
  margin: 20px;
}

.homework-button-panel {
  text-align: center;
  margin: 20px;
}

#canvas-container {
  text-align: center;
}

.index-image {
  width: 200px;
  margin: auto;
}

p {
  font-size: 12px;
}

.slider-bars {
  margin: 30px;
}

.content {
  vertical-align: top;
}

canvas#playground {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

#instructions {
  text-align: left;
}

.canvas-container {
  width: 800px;
  height: 450px;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.title {
  text-align: center;
}